<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <title>Магазин Глейси</title>
  </head>
  <body class="theme-pink">
    <h1 class="visually-hidden">Магазин Глейси.</h1>
    <header class="header container">
      <nav class="navigation">
        <a class="logo">
          <span class="visually-hidden">Переход на главную.</span>
          <img src="images/logo.svg" width="137" height="56" alt="Логотип.">
        </a>
        <ul class="navigation__menu menu">
          <li class="menu__item menu__item--dropdown">
            <button class="menu__link" type="button">Каталог</button>
            <ul class="menu__sublist">
              <li class="menu__sublist-item">
                <a class="menu__sublist-link menu__sublist-link_bold" href="#">Новинки</a>
                <hr class="menu__sublist-separator">
              </li>
              <li class="menu__sublist-item">
                <a class="menu__sublist-link" href="catalog.html">Сливочное</a>
              </li>
              <li class="menu__sublist-item">
                <a class="menu__sublist-link" href="#">Щербеты</a>
              </li>
              <li class="menu__sublist-item">
                <a class="menu__sublist-link" href="#">Фруктовый лед</a>
              </li>
              <li class="menu__sublist-item">
                <a class="menu__sublist-link" href="#">Мелорин</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Доставка и оплата</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О компании</a>
          </li>
        </ul>
      </nav>
      <div class="dropdown-group">
        <a class="header__phone" href="tel:+78005558628">+7 800 555-86-28</a>
        <div class="dropdown">
          <button class="dropdown__button dropdown__button--search" type="button">
            <span class="visually-hidden">Открыть форму поиска.</span>
            <svg class="dropdown__icon" width="16" height="16" fill="currentcolor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="images/icons/icons.svg#search"/>
            </svg>
          </button>
          <form class="dropdown__content dropdown__content--small" action="https://echo.htmlacademy.ru/" method="get">
            <label class="dropdown__label">
              <span class="visually-hidden">Поиск.</span>
              <input class="dropdown__input input" type="text" name="search" placeholder="Поиск по сайту">
            </label>
          </form>
        </div>
        <div class="dropdown">
          <button class="dropdown__button" type="button">
            <svg class="dropdown__icon" width="16" height="16" fill="currentcolor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="images/icons/icons.svg#log-in"/>
            </svg>
            <span>Вход</span>
          </button>
          <form class="dropdown__content" action="https://echo.htmlacademy.ru/" method="post">
            <h2 class="dropdown__title">Личный кабинет</h2>
            <label class="dropdown__label">
              <span class="visually-hidden">E-mail.</span>
              <input class="dropdown__input input" type="email" name="email" placeholder="E-mail" value="email@example.com">
            </label>
            <label class="dropdown__label">
              <span class="visually-hidden">Пароль.</span>
              <input class="dropdown__input input" type="password" name="password" placeholder="Пароль" value="123456">
            </label>
            <div class="dropdown__flexcolumns">
              <button class="button button_red" type="button">Войти</button>
              <div>
                <a class="dropdown__link" href="#">Забыли пароль?</a>
                <a class="dropdown__link" href="#">Регистрация</a>
              </div>
            </div>
          </form>
        </div>
        <div class="dropdown">
          <button class="dropdown__button" type="button">
            <svg class="dropdown__icon" width="16" height="16" fill="currentcolor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="images/icons/icons.svg#cart"/>
            </svg>
            <span>2 товара</span>
          </button>
          <form class="dropdown__content cart" action="https://echo.htmlacademy.ru/" method="post">
            <h2 class="dropdown__title">Корзина</h2>
            <ul class="cart__list">
              <li class="cart__item">
                <a class="cart__link" href="#">
                  <div class="cart__product">
                    <h3 class="cart__product-name">Малинка</h3>
                    <p class="cart__product-quantity">1 кг х 310 ₽</p>
                  </div>
                  <p class="cart__product-price">310 ₽</p>
                  <img class="cart__product-image" src="images/ice-creams/raspberry.jpg" width="46" height="46" alt="Шарик мороженного Малинка.">
                </a>
                <button class="button-close" type="button">
                  <span class="visually-hidden">Удалить.</span>
                </button>
              </li>
              <li class="cart__item">
                <a class="cart__link" href="#">
                  <div class="cart__product">
                    <h3 class="cart__product-name">Бабл-гам</h3>
                    <p class="cart__product-quantity">1,5 кг х 320 ₽</p>
                  </div>
                  <p class="cart__product-price">480 ₽</p>
                  <img class="cart__product-image" src="images/ice-creams/bubble-gum.jpg" width="46" height="46" alt="Шарик мороженного Бабл-гам.">
                </a>
                <button class="button-close" type="button">
                  <span class="visually-hidden">Удалить.</span>
                </button>
              </li>
            </ul>
            <div class="dropdown__flexcolumns dropdown__flexcolumns--extended">
              <button class="cart__submit button button_red" type="button">Оформить заказ</button>
              <span class="cart__total-price">Итого: 790 ₽</span>
            </div>
          </form>
        </div>
      </div>
    </header>
    <main class="main container">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer container">
      <ul class="footer__social social">
        <li class="social__item">
          <a class="social__link" href="https://t.me/htmlacademy">
            <span class="visually-hidden">Перейти в телеграм.</span>
            <svg class="social__icon" width="16" height="16" fill="currentcolor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="images/icons/icons.svg#telegram"/>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://vk.com/htmlacademy">
            <span class="visually-hidden">Перейти в вконтакте.</span>
            <svg class="social__icon" width="16" height="16" fill="currentcolor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="images/icons/icons.svg#vk"/>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.youtube.com/user/htmlacademyru">
            <span class="visually-hidden">Перейти в ютюб.</span>
            <svg class="social__icon" width="16" height="16" fill="currentcolor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="images/icons/icons.svg#youtube"/>
            </svg>
          </a>
        </li>
      </ul>
      <div class="for-suppliers">
        <h2 class="for-suppliers__title">Для поставщиков</h2>
        <a class="for-suppliers__link" href="#">Наши документы</a>
        <a class="for-suppliers__link" href="#">О производстве</a>
        <a class="for-suppliers__link" href="#">Экологические стандарты</a>
      </div>
      <div class="designer-copyrights">
        <span>Сделано в</span>
        <a class="designer-copyrights__link" href="https://htmlacademy.ru/">.html academy</a>
        <span>&copy; 2021</span>
      </div>
    </footer>
    <div class="modal-overlay"></div>
    <form class="feedback-form modal" action="https://echo.htmlacademy.ru/" method="post" data-modal="feedback">
      <!-- чтобы задать стили поля с ошибкой необходимо повесить на input класс is_error -->
      <h2 class="feedback-form__title title">Мы обязательно ответим вам!</h2>
      <label class="feedback-form__field">
        <span class="visually-hidden">Имя и фамилия.</span>
        <input class="feedback-form__input input" type="text" name="name" placeholder="Имя и фамилия">
      </label>
      <label class="feedback-form__field">
        <span class="visually-hidden">email@example.com.</span>
        <input class="feedback-form__input input" type="email" name="email" placeholder="email@example.com">
      </label>
      <label class="feedback-form__field">
        <span class="visually-hidden">Текст сообщения.</span>
        <textarea class="feedback-form__textarea textarea" name="message" cols="10" rows="5" placeholder="В свободной форме"></textarea>
      </label>
      <button class="feedback-form__button button button_red" type="submit">Отправить</button>
      <button class="feedback-form__close button-close js-modal-close" type="button">
        <span class="visually-hidden">Удалить.</span>
      </button>
    </form>

    <script src="scripts/modal.js"></script>
    <script src="scripts/slider.js"></script>
  </body>
</html>
