@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

:root {
  --gray-extra-dark: #2d3440;
  --gray-dark: #565C66;
  --gray-neutral: #B9B9B9;
  --gray-light: #E7E7E7;
  --gray-extra-light: #FCFCFC;
  --white: #FFFFFF;

  --pink-extra-bright: #FF2F64;
  --pink-bright: #FF4A78;
  --pink-neutral: #FF7799;
  --pink-light: #FEAFC3;
  --pink-extra-light: #FFCBD8;

  --blue: #69A9FF;
  --yellow: #FCC850;

  --color-error: #ea5454;
  --color-warning: #fd912e;
  --color-success: #00e484;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font: 16px/22px "Inter", Arial, Tahoma, sans-serif;
  color: var(--gray-extra-dark);
}

.theme-pink {
  background-color: var(--pink-light);
}

.theme-blue {
  background-color: var(--blue);
}

.theme-yellow {
  background-color: var(--yellow);
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 98px;
}

.main {
  flex-grow: 1;
}

.heading {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: inherit;
  text-align: center;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
}

.caption {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.input {
  --border-color: var(--gray-extra-dark);
  padding: 13px 16px;
  border: 1px solid var(--gray-neutral);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-extra-dark);
  background-color: var(--white);
}

.input:focus {
  border-color: var(--border-color);
  box-shadow: inset 0 0 0 1px var(--border-color);
  outline: none;
}

.input:not(:disabled):hover {
  border-color: var(--border-color);
}

.input:invalid {
  --border-color: var(--color-error);
  border-color: var(--color-error);
}

.input:invalid:hover {
  box-shadow: inset 0 0 0 1px var(--border-color);
}

.input:disabled {
  color: rgba(45, 52, 64, 0.65);
  background-color: var(--gray-light);
}

.input:disabled:hover {
  color: var(--gray-extra-dark);
}

.button {
  margin: -4px;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-extra-dark);
  text-decoration: none;
  background-color: var(--gray-extra-light);
  background-clip: padding-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button_red {
  border-color: rgba(255, 47, 100, 0.3);
  color: var(--gray-extra-light);
  background-color: var(--pink-extra-bright);
}

.button:focus {
  margin: -2px;
  border: 2px solid var(--gray-extra-dark);
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.button_red:focus {
  color: var(--gray-extra-light);
  background: var(--pink-extra-bright);
}

.button:hover {
  border-color: var(--gray-extra-light);
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  cursor: pointer;
}

.button_red:hover {
  border-color: var(--pink-extra-bright);
  color: var(--gray-extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: none;
}

.button:active {
  margin: -2px;
  border: 2px solid var(--gray-extra-dark);
  background-color: var(--gray-extra-light);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button_red:active {
  color: var(--gray-extra-light);
  background-color: var(--pink-light);
}

.button:disabled {
  color: var(--gray-neutral);
  background-color: var(--gray-light);
  box-shadow: none;
  pointer-events: none;
}

.button_red:disabled {
  border-color: rgba(185, 185, 185, 0.3);
  color: var(--gray-dark);
  background-color: var(--gray-neutral);
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  margin-top: -5px;
  margin-right: 16px;
  border-radius: 8px;
  transform: translateY(5px);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__phone {
  margin-right: 8px;
  padding: 8px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.menu__item {
  position: relative;
  z-index: 2;
}

.menu__link {
  display: block;
  margin: 0;
  padding: 8px 16px;
  border: 0;
  border-radius: 30px;
  font: inherit;
  color: inherit;
  text-decoration: none;
  background: none;
}

.logo:focus,
.header__phone:focus,
.menu__link:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px var(--gray-extra-dark);
  outline: none;
}

.logo:hover,
.header__phone:hover,
.menu__link:hover {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: none;
  cursor: pointer;
}

.logo:active,
.header__phone:active,
.menu__link:active {
  background: var(--gray-extra-light);
  box-shadow: none;
}

.menu__link.active,
.menu__link.current {
  background: var(--pink-bright);
  color: var(--gray-extra-light);
  box-shadow: none;
}

.menu__sublist {
  position: absolute;
  display: none;
  min-width: 138px;
  margin: 0;
  margin-top: 8px;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  background: var(--gray-extra-light);
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  list-style: none;
}

.menu__sublist.opened {
  display: block;
}

.menu__sublist-link {
  display: block;
  padding: 6px 16px;
  color: inherit;
  text-decoration: none;
}

.menu__sublist-link_bold {
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu__sublist-link:focus {
  background: var(--pink-extra-light);
  box-shadow: inset 0 0 0 2px var(--gray-extra-dark);
  outline: none;
}

.menu__sublist-link:hover {
  background: var(--pink-extra-light);
  box-shadow: none;
}

.menu__sublist-link:active {
  background: var(--pink-neutral);
  box-shadow: none;
}

.menu__sublist-link.active,
.menu__sublist-link.current {
  background: var(--pink-bright);
  box-shadow: none;
}

.menu__sublist-separator {
  margin: 3px 16px;
}

.dropdown {
  position: relative;
  margin-right: 15px;
}

.dropdown:last-child {
  margin-right: 0;
}

.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 17px;
  border: 0;
  border-radius: 30px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.dropdown__button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px var(--gray-extra-dark);
  outline: none;
}

.dropdown__button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
  box-shadow: none;
}

.dropdown__button:active {
  background-color: var(--gray-extra-light);
  box-shadow: none;
}

.dropdown__button.active,
.dropdown__button.current {
  color: var(--gray-extra-light);
  background-color: var(--pink-bright);
  box-shadow: none;
}

.dropdown__icon {
  display: block;
  margin-right: 6px;
}

.dropdown__button_search {
  padding: 6px;
}

.dropdown__button_search .dropdown__icon {
  margin: 0;
}

.dropdown__content {
  position: absolute;
  right: 0;
  z-index: 2;
  display: none;
  margin-top: 8px;
  padding: 53px 48px 48px 48px;
  border-radius: 4px;
  background: var(--gray-extra-light);
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.dropdown__content_small {
  padding: 24px 16px;
}

.dropdown__content.opened {
  display: block;
}

.dropdown__title {
  margin-top: 0;
  margin-bottom: 35px;
}

.dropdown__label:not(:last-of-type) {
  display: block;
  margin-bottom: 16px;
}

.dropdown__input {
  box-sizing: border-box;
  min-width: 324px;
}

.dropdown__flexcolumns {
  display: flex;
  gap: 23px;
  margin-top: 32px;
}

.dropdown__flexcolumns_extended {
  justify-content: space-between;
  align-items: center;
}

.dropdown__link {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-extra-dark);
  text-underline-offset: 4px;
}

.dropdown__link:last-child {
  margin-bottom: 0;
}

.cart {
  min-width: 345px;
}

.cart__list {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
  border-bottom: 1px solid var(--gray-light);
  list-style: none;
}

.cart__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.cart__item:last-child {
  margin-bottom: 0;
}

.cart__link {
  flex-grow: 1;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.cart__product-image {
  order: -1;
  margin-right: 16px;
}

.cart__product-name,
.cart__product-price,
.cart__total-price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart__product-name {
  margin-top: 1px;
  margin-bottom: 3px;
}

.cart__product-price {
  margin-left: auto;
}

.cart__product-quantity {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-neutral);
}

.cart__button-delete {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: 50.67px;
  padding: 3.67px;
  border: 0;
  background: url("../images/icons/cross.svg");
}

.cart__button-delete:focus,
.cart__button-delete:hover {
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--gray-extra-dark);
  opacity: 0.6;
  cursor: pointer;
}

.cart__button-delete:focus {
  opacity: 0.3;
  outline: none;
}

.recommended-products {
  margin-bottom: 81px;
}

.slider {
  position: relative;
}

.slider__list {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 21px;
  overflow: hidden;
}

.slider__slide {
  flex-shrink: 0;
  width: 100px;
  height: 150px;
  margin-top: 7px;
  margin-right: 41px;
}

.slider__slide:first-child {
  width: 312px;
  height: 507px;
  margin-top: 0;
  margin-right: 56px;
}

.slider__slide:last-child {
  margin-right: 0;
}

.slider__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider__content {
  position: absolute;
  top: 136px;
  left: 70px;
  width: 470px;
  font-size: 18px;
  line-height: 24px;
}

.slider__slide:not(:first-child) .slider__content {
  visibility: hidden;
}

.slider__image-container {
  box-sizing: border-box;
  background: radial-gradient(circle closest-side at 50% 50.5%, var(--pink-extra-light) 100%, transparent 100%);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.slider__slide:first-child .slider__image-container {
  padding-right: 6px;
  opacity: 1;
}

.slider__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.slider__slide:not(:first-child) .slider__image {
  max-height: 150px;
}

.slider_button {
  display: block;
  max-width: max-content;
  margin-top: 43px;
}

.slider__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 2px;
}

.slider__toogle {
  position: absolute;
  top: 258px;
  left: 542px;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid var(--gray-extra-light);
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  color: var(--gray-extra-light);
  cursor: pointer;
}

.slider__toogle:focus {
  border-color: var(--gray-extra-dark);
  color: var(--gray-extra-dark);
  outline: none;
}

.slider__toogle:hover {
  border-color: var(--gray-extra-light);
  background-color: var(--gray-extra-light);
  color: var(--gray-extra-dark);
}

.slider__toogle:active {
  border-color: var(--gray-extra-light);
  background-color: rgba(252, 252, 252, 0.5);
  color: var(--gray-extra-dark);
}

.slider__toogle:disabled {
  pointer-events: none;
}

.slider__toogle-prev {
  transform: rotate(180deg);
}

.slider__toogle-next {
  left: 854px;
}

.slider__toogle-icon {
  display: block;
}

.slider__pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12px);
  gap: 8px;
  width: 80%;
}

.slider__pagination-item {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background: none;
  background-color: var(--gray-extra-light);
  opacity: 0.3;
  cursor: pointer;
}

.slider__pagination-item.current {
  opacity: 1;
}

.slider__pagination-item:focus {
  border: 1px solid var(--gray-extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.5;
  outline: none;
}

.slider__pagination-item:hover {
  border: 1px solid var(--gray-extra-light);
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 1;
}

.slider__pagination-item:active {
  border: 0;
  background-color: var(--gray-extra-light);
  opacity: 0.5;
}

.slider__pagination-item:disabled {
  pointer-events: none;
}

.slider__social {
  max-width: 20%;
}

.gifts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 82px;
}

.gifts__heading {
  grid-column: span 2;
  margin-bottom: 24px;
}

.gifts__item {
  position: relative;
  box-sizing: border-box;
  min-height: 268px;
  padding: 36px;
  padding-right: 206px;
  border-radius: 16px;
  background-color: var(--pink-neutral);
}

.gifts__title {
  margin-top: 1px;
  margin-bottom: 27px;
}

.gifts__text {
  margin: 0;
  margin-bottom: 28px;
}

.gifts__image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.gifts__button {
  display: block;
  max-width: max-content;
}

.popular {
  margin-bottom: 80px;
}

.popular__heading {
  margin-bottom: 56px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 24px 40px;
  border-radius: 8px;
  background-color: var(--gray-extra-light);
}

.products__image {
  order: -1;
  display: block;
  width: 168px;
  height: 168px;
  margin-top: -75px;
  margin-bottom: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.products__title {
  margin-bottom: 8px;
}

.products__description {
  margin: 0;
  margin-bottom: 8px;
  color: var(--gray-dark);
  text-align: center;
}

.products__columns {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.products__price {
  margin: 0;
}

.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 2px solid var(--pink-extra-bright);
  border-radius: 50%;
  color: var(--gray-extra-light);
  background-color: var(--pink-extra-bright);
  cursor: pointer;
}

.products__button:focus {
  border-color: var(--gray-extra-dark);
  outline: none;
}

.products__button:hover {
  border-color: var(--pink-extra-bright);
  color: var(--gray-extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
}

.products__button:active {
  color: var(--gray-extra-dark);
  background-color: var(--pink-extra-light);
}

.products__button:disabled {
  border-color: var(--gray-neutral);
  color: var(--gray-dark);
  background-color: var(--gray-neutral);
  pointer-events: none;
}

.products__icon {
  display: block;
  width: 16px;
  height: 16px;
}

.about-us {
  background: var(--pink-neutral) url("../images/waffle-background.jpg") repeat;
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;
}

.about-us__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  padding: 56px 40px;
  border-radius: 16px;
  background: var(--white);
}

.about-us__title {
  grid-column: span 2;
  margin-bottom: 16px;
}

.about-us__text {
  position: relative;
  margin: 0;
  padding-left: 64px;
}

.about-us__text::before {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid var(--gray-extra-dark);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
  content: "";
}

.about-us__text_ice-cream::before {
  background-image: url("../images/icons/ice-cream.svg");
}

.about-us__text_cow::before {
  background-image: url("../images/icons/cow.svg");
}

.about-us__text_leaf::before {
  background-image: url("../images/icons/leaf.svg");
}

.about-us__text_thermometer::before {
  background-image: url("../images/icons/thermometer.svg");
}

.blog-subscription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}

.blog-subscription__article {
  padding: 32px;
  padding-right: 235px;
  border-radius: 16px;
  background: var(--white) url("../images/news.jpg") no-repeat top right;
}

.blog-subscription__article-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-dark);
}

.blog-subscription__article-text {
  margin: 0;
}

.blog-subscription__form {
  padding: 6px;
  border-radius: 16px;
  background: url("../images/news-form-background.jpg") repeat-y;
}

.blog-subscription__form-content {
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  padding-bottom: 28px;
  border-radius: 16px;
  background-color: var(--white);
}

.blog-subscription__form-text {
  width: 100%;
  margin: 0;
  margin-bottom: 44px;
  color: var(--gray-dark);
}

.blog-subscription__form-input {
  flex-grow: 1;
  margin-right: 19px;
}

.blog-subscription__form-button {
  align-self: center;
  margin-right: 0;
}

.delivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
  margin-bottom: 80px;
  padding: 64px;
  border-radius: 16px;
  background: var(--white) url("../images/delivery-background.jpg") no-repeat top right;
}

.delivery__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  padding-left: 36px;
}

.delivery__title {
  margin-bottom: 23px;
  text-align: left;
}

.delivery__text {
  margin: 0;
}

.delivery__form {
  display: grid;
  grid-template-columns: 117px 1fr 117px;
  gap: 17px 16px;
  box-sizing: border-box;
  height: 406px; /*delete this*/
  padding: 40px;
  border-radius: 8px;
  background: var(--gray-extra-light);
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery__form-description {
  grid-column: span 3;
  margin-bottom: 13px;
}

.delivery__form-field_double {
  grid-column: span 2;
}

.delivery__form-field_big {
  grid-column: span 3;
}

.delivery__form-input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 7px;
  padding-left: 15px;
}

.delivery__form-label {
  vertical-align: middle;
}

.delivery__form-button {
  grid-column: span 3;
  justify-self: center;
  margin-top: 10px;
}

.tooltip {
  position: relative;
  padding-right: 18px;
}

.tooltip__button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background: url("../images/icons/info.svg") no-repeat center center;
  transform: translateY(-50%);
}

.tooltip__content {
  position: absolute;
  top: -11px;
  left: calc(100% + 9px);
  display: none;
  box-sizing: border-box;
  width: 166px;
  padding: 10px 9px;
  border: 1px solid var(--gray-neutral);
  border-radius: 1px;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-dark);
  background: var(--gray-extra-light);
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
}

.tooltip__content::before {
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid var(--gray-neutral);
  background: inherit;
  transform-origin: top left;
  transform: rotate(45deg) translate(10px, 10px);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  content: "";
}

.tooltip__button:hover {
  cursor: pointer;
}

.tooltip__button:hover ~ .tooltip__content {
  display: block;
}

.contacts {
  padding: 64px;
  border-radius: 16px;
  background: var(--gray-neutral) url("../images/contacts-background.jpg") no-repeat center top;
}

.contacts__content {
  max-width: 263px;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--gray-extra-light);
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 12px;
}

.contacts__text_small {
  font-size: 14px;
  line-height: 20px;
}

.contacts__address {
  margin-bottom: 24px;
}

.contacts__phone {
  text-decoration: none;
  margin-bottom: 0;
}

.contacts__button {
  margin-top: 16px;
}

.social {
  display: grid;
  grid-template-columns: repeat(auto-fit, 24px);
  gap: 16px;
  margin: 0;
  padding: 0;
  min-width: 104px;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  padding: 2px;
  color: inherit;
  text-decoration: none;
  background-clip: content-box;
}

.social__link:focus {
  border-color: var(--gray-extra-dark);
  background-color: var(--gray-extra-dark);
  outline: none;
}

.social__link:hover {
  border-color: rgba(252, 252, 252, 0.5);
  background-color: var(--gray-extra-dark);
}

.social__link:active {
  border-color: rgba(252, 252, 252, 0.5);
  background-color: var(--gray-extra-dark);
  opacity: 0.5;
}

.social__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: -2px;
  color: var(--gray-extra-light);
}
